<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2018</key>
	<dict>
		<key>date</key>
		<date>2017-11-10T02:00:00Z</date>
		<key>title</key>
		<string>The Band&apos;s Visit</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Band%27s_Visit_(musical)</string>
	</dict>
	<key>2017</key>
	<dict>
		<key>date</key>
		<date>2016-11-15T02:00:00Z</date>
		<key>title</key>
		<string>Dear Evan Hansen</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Dear_Evan_Hansen</string>
	</dict>
	<key>2016</key>
	<dict>
		<key>date</key>
		<date>2015-07-14T01:00:00Z</date>
		<key>title</key>
		<string>Hamilton</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hamilton_(musical)</string>
	</dict>
	<key>2015</key>
	<dict>
		<key>date</key>
		<date>2015-04-20T01:00:00Z</date>
		<key>title</key>
		<string>Fun Home</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Fun_Home_(musical)</string>
	</dict>
	<key>2014</key>
	<dict>
		<key>date</key>
		<date>2013-11-18T02:00:00Z</date>
		<key>title</key>
		<string>A Gentleman&apos;s Guide to Love and Murder</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Gentleman%27s_Guide_to_Love_and_Murder</string>
	</dict>
	<key>2013</key>
	<dict>
		<key>date</key>
		<date>2013-04-05T01:00:00Z</date>
		<key>title</key>
		<string>Kinky Boots</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Kinky_Boots_(musical)</string>
	</dict>
	<key>2012</key>
	<dict>
		<key>date</key>
		<date>2012-03-19T01:00:00Z</date>
		<key>title</key>
		<string>Once</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Once_(musical)</string>
	</dict>
	<key>2011</key>
	<dict>
		<key>date</key>
		<date>2011-03-25T01:00:00Z</date>
		<key>title</key>
		<string>The Book of Mormon</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Book_of_Mormon_(musical)</string>
	</dict>
	<key>2010</key>
	<dict>
		<key>date</key>
		<date>2009-10-20T01:00:00Z</date>
		<key>title</key>
		<string>Memphis</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Memphis_(musical)</string>
	</dict>
	<key>2009</key>
	<dict>
		<key>date</key>
		<date>2008-11-14T02:00:00Z</date>
		<key>title</key>
		<string>Billy Elliot the Musical</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Billy_Elliot_the_Musical</string>
	</dict>
	<key>2008</key>
	<dict>
		<key>date</key>
		<date>2008-03-10T01:00:00Z</date>
		<key>title</key>
		<string>In the Heights</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/In_the_Heights</string>
	</dict>
	<key>2007</key>
	<dict>
		<key>date</key>
		<date>2006-12-11T02:00:00Z</date>
		<key>title</key>
		<string>Spring Awakening</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Spring_Awakening_(musical)</string>
	</dict>
	<key>2006</key>
	<dict>
		<key>date</key>
		<date>2005-11-07T02:00:00Z</date>
		<key>title</key>
		<string>Jersey Boys</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Jersey_Boys</string>
	</dict>
	<key>2005</key>
	<dict>
		<key>date</key>
		<date>2005-03-18T02:00:00Z</date>
		<key>title</key>
		<string>Spamalot</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Spamalot</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>date</key>
		<date>2003-08-01T01:00:00Z</date>
		<key>title</key>
		<string>Avenue Q</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Avenue_Q</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>date</key>
		<date>2002-08-16T01:00:00Z</date>
		<key>title</key>
		<string>Hairspray</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hairspray_(musical)</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>date</key>
		<date>2002-04-19T01:00:00Z</date>
		<key>title</key>
		<string>Thoroughly Modern Millie</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Thoroughly_Modern_Millie_(musical)</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>date</key>
		<date>2001-04-20T01:00:00Z</date>
		<key>title</key>
		<string>The Producers</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Producers_(musical)</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>date</key>
		<date>2000-03-31T02:00:00Z</date>
		<key>title</key>
		<string>Contact</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Contact_(musical)</string>
	</dict>
	<key>1999</key>
	<dict>
		<key>date</key>
		<date>1999-01-15T02:00:00Z</date>
		<key>title</key>
		<string>Fosse</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Fosse</string>
	</dict>
	<key>1998</key>
	<dict>
		<key>date</key>
		<date>1997-11-14T02:00:00Z</date>
		<key>title</key>
		<string>The Lion King</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Lion_King_(musical)</string>
	</dict>
	<key>1997</key>
	<dict>
		<key>date</key>
		<date>1997-04-24T01:00:00Z</date>
		<key>title</key>
		<string>Titanic</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Titanic_(musical)</string>
	</dict>
	<key>1996</key>
	<dict>
		<key>date</key>
		<date>1996-04-30T01:00:00Z</date>
		<key>title</key>
		<string>Rent</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Rent_(musical)</string>
	</dict>
	<key>1995</key>
	<dict>
		<key>date</key>
		<date>1994-11-18T02:00:00Z</date>
		<key>title</key>
		<string>Sunset Boulevard</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Sunset_Boulevard_(musical)</string>
	</dict>
	<key>1994</key>
	<dict>
		<key>date</key>
		<date>1994-05-10T01:00:00Z</date>
		<key>title</key>
		<string>Passion</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Passion_(musical)</string>
	</dict>
	<key>1993</key>
	<dict>
		<key>date</key>
		<date>1993-05-04T01:00:00Z</date>
		<key>title</key>
		<string>Kiss of the Spider Woman</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Kiss_of_the_Spider_Woman_(musical)</string>
	</dict>
	<key>1992</key>
	<dict>
		<key>date</key>
		<date>1992-02-20T02:00:00Z</date>
		<key>title</key>
		<string>Crazy for You</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Crazy_for_You_(musical)</string>
	</dict>
	<key>1991</key>
	<dict>
		<key>date</key>
		<date>1991-05-02T01:00:00Z</date>
		<key>title</key>
		<string>The Will Rogers Follies</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Will_Rogers_Follies</string>
	</dict>
	<key>1990</key>
	<dict>
		<key>date</key>
		<date>1989-12-12T02:00:00Z</date>
		<key>title</key>
		<string>City of Angels</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/City_of_Angels_(musical)</string>
	</dict>
	<key>1989</key>
	<dict>
		<key>date</key>
		<date>1989-02-27T02:00:00Z</date>
		<key>title</key>
		<string>Jerome Robbins&apos; Broadway</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Jerome_Robbins%27_Broadway</string>
	</dict>
	<key>1988</key>
	<dict>
		<key>date</key>
		<date>1988-01-27T02:00:00Z</date>
		<key>title</key>
		<string>The Phantom of the Opera</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Phantom_of_the_Opera_(1986_musical)</string>
	</dict>
	<key>1987</key>
	<dict>
		<key>date</key>
		<date>1987-03-13T02:00:00Z</date>
		<key>title</key>
		<string>Les Miserables</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Les_Miserables_(musical)</string>
	</dict>
	<key>1986</key>
	<dict>
		<key>date</key>
		<date>1985-12-03T02:00:00Z</date>
		<key>title</key>
		<string>The Mystery of Edwin Drood</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Drood</string>
	</dict>
	<key>1985</key>
	<dict>
		<key>date</key>
		<date>1985-04-26T02:00:00Z</date>
		<key>title</key>
		<string>Big River</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Big_River_(musical)</string>
	</dict>
	<key>1984</key>
	<dict>
		<key>date</key>
		<date>1983-08-22T01:00:00Z</date>
		<key>title</key>
		<string>La Cage aux Folles</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/La_Cage_aux_Folles_(musical)</string>
	</dict>
	<key>1983</key>
	<dict>
		<key>date</key>
		<date>1982-10-08T01:00:00Z</date>
		<key>title</key>
		<string>Cats</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cats_(musical)</string>
	</dict>
	<key>1982</key>
	<dict>
		<key>date</key>
		<date>1982-05-10T01:00:00Z</date>
		<key>title</key>
		<string>Nine</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Nine_(musical)</string>
	</dict>
	<key>1981</key>
	<dict>
		<key>date</key>
		<date>1980-08-26T01:00:00Z</date>
		<key>title</key>
		<string>42nd Street</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/42nd_Street_(musical)</string>
	</dict>
	<key>1980</key>
	<dict>
		<key>date</key>
		<date>1979-09-26T01:00:00Z</date>
		<key>title</key>
		<string>Evita</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Evita_(musical)</string>
	</dict>
	<key>1979</key>
	<dict>
		<key>date</key>
		<date>1979-03-02T02:00:00Z</date>
		<key>title</key>
		<string>Sweeney Todd</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Sweeney_Todd:_The_Demon_Barber_of_Fleet_Street</string>
	</dict>
	<key>1978</key>
	<dict>
		<key>date</key>
		<date>1978-05-10T01:00:00Z</date>
		<key>title</key>
		<string>Ain&apos;t Misbehavin&apos;</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ain%27t_Misbehavin%27_(musical)</string>
	</dict>
	<key>1977</key>
	<dict>
		<key>date</key>
		<date>1977-04-22T02:00:00Z</date>
		<key>title</key>
		<string>Annie</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Annie_(musical)</string>
	</dict>
	<key>1976</key>
	<dict>
		<key>date</key>
		<date>1975-07-26T01:00:00Z</date>
		<key>title</key>
		<string>A Chorus Line</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Chorus_Line</string>
	</dict>
	<key>1975</key>
	<dict>
		<key>date</key>
		<date>1975-01-06T02:00:00Z</date>
		<key>title</key>
		<string>The Wiz</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Wiz</string>
	</dict>
	<key>1974</key>
	<dict>
		<key>date</key>
		<date>1973-10-19T01:00:00Z</date>
		<key>title</key>
		<string>Raisin</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Raisin_(musical)</string>
	</dict>
	<key>1973</key>
	<dict>
		<key>date</key>
		<date>1973-02-26T02:00:00Z</date>
		<key>title</key>
		<string>A Little Night Music</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Little_Night_Music</string>
	</dict>
	<key>1972</key>
	<dict>
		<key>date</key>
		<date>1971-12-02T02:00:00Z</date>
		<key>title</key>
		<string>Two Gentlemen of Verona</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Two_Gentlemen_of_Verona_(musical)</string>
	</dict>
	<key>1971</key>
	<dict>
		<key>date</key>
		<date>1970-04-27T01:00:00Z</date>
		<key>title</key>
		<string>Company</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Company_(musical)</string>
	</dict>
	<key>1970</key>
	<dict>
		<key>date</key>
		<date>1970-03-31T02:00:00Z</date>
		<key>title</key>
		<string>Applause</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Applause_(musical)</string>
	</dict>
	<key>1969</key>
	<dict>
		<key>date</key>
		<date>1969-03-17T02:00:00Z</date>
		<key>title</key>
		<string>1776</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1776_(musical)</string>
	</dict>
	<key>1968</key>
	<dict>
		<key>date</key>
		<date>1967-04-27T02:00:00Z</date>
		<key>title</key>
		<string>Hallelujah, Baby!</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hallelujah,_Baby!</string>
	</dict>
	<key>1967</key>
	<dict>
		<key>date</key>
		<date>1966-11-21T02:00:00Z</date>
		<key>title</key>
		<string>Cabaret</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cabaret_(musical)</string>
	</dict>
	<key>1966</key>
	<dict>
		<key>date</key>
		<date>1965-11-23T02:00:00Z</date>
		<key>title</key>
		<string>Man of La Mancha</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Man_of_La_Mancha</string>
	</dict>
	<key>1965</key>
	<dict>
		<key>date</key>
		<date>1964-09-23T01:00:00Z</date>
		<key>title</key>
		<string>Fiddler on the Roof</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Fiddler_on_the_Roof</string>
	</dict>
	<key>1964</key>
	<dict>
		<key>date</key>
		<date>1964-01-17T02:00:00Z</date>
		<key>title</key>
		<string>Hello, Dolly!</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hello,_Dolly!_(musical)</string>
	</dict>
	<key>1963</key>
	<dict>
		<key>date</key>
		<date>1962-05-09T01:00:00Z</date>
		<key>title</key>
		<string>A Funny Thing Happened on the Way to the Forum</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Funny_Thing_Happened_on_the_Way_to_the_Forum</string>
	</dict>
	<key>1962</key>
	<dict>
		<key>date</key>
		<date>1961-10-15T01:00:00Z</date>
		<key>title</key>
		<string>How to Succeed in Business Without Really Trying</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/How_to_Succeed_in_Business_Without_Really_Trying_(musical)</string>
	</dict>
	<key>1961</key>
	<dict>
		<key>date</key>
		<date>1960-04-15T02:00:00Z</date>
		<key>title</key>
		<string>Bye, Bye, Birdie</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bye_Bye_Birdie_(musical)</string>
	</dict>
	<key>1960</key>
	<dict>
		<key>date</key>
		<date>1959-11-17T02:00:00Z</date>
		<key>title</key>
		<string>The Sound of Music</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Sound_of_Music</string>
	</dict>
	<key>1959</key>
	<dict>
		<key>date</key>
		<date>1959-02-06T02:00:00Z</date>
		<key>title</key>
		<string>Redhead</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Redhead_(musical)</string>
	</dict>
</dict>
</plist>
