<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2018</key>
	<dict>
		<key>date</key>
		<integer>2018</integer>
		<key>title</key>
		<string>The Band&apos;s Visit</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Band%27s_Visit_(musical)</string>
	</dict>
	<key>2017</key>
	<dict>
		<key>date</key>
		<integer>2017</integer>
		<key>title</key>
		<string>Dear Evan Hansen</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Dear_Evan_Hansen</string>
	</dict>
	<key>2016</key>
	<dict>
		<key>date</key>
		<integer>2016</integer>
		<key>title</key>
		<string>Hamilton</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hamilton_(musical)</string>
	</dict>
	<key>2015</key>
	<dict>
		<key>date</key>
		<integer>2015</integer>
		<key>title</key>
		<string>Fun Home</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Fun_Home_(musical)</string>
	</dict>
	<key>2014</key>
	<dict>
		<key>date</key>
		<integer>2014</integer>
		<key>title</key>
		<string>A Gentleman&apos;s Guide to Love and Murder</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Gentleman%27s_Guide_to_Love_and_Murder</string>
	</dict>
	<key>2013</key>
	<dict>
		<key>date</key>
		<integer>2013</integer>
		<key>title</key>
		<string>Kinky Boots</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Kinky_Boots_(musical)</string>
	</dict>
	<key>2012</key>
	<dict>
		<key>date</key>
		<integer>2012</integer>
		<key>title</key>
		<string>Once</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Once_(musical)</string>
	</dict>
	<key>2011</key>
	<dict>
		<key>date</key>
		<integer>2011</integer>
		<key>title</key>
		<string>The Book of Mormon</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Book_of_Mormon_(musical)</string>
	</dict>
	<key>2010</key>
	<dict>
		<key>date</key>
		<integer>2010</integer>
		<key>title</key>
		<string>Memphis</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Memphis_(musical)</string>
	</dict>
	<key>2009</key>
	<dict>
		<key>date</key>
		<integer>2009</integer>
		<key>title</key>
		<string>Billy Elliot the Musical</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Billy_Elliot_the_Musical</string>
	</dict>
	<key>2008</key>
	<dict>
		<key>date</key>
		<integer>2008</integer>
		<key>title</key>
		<string>In the Heights</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/In_the_Heights</string>
	</dict>
	<key>2007</key>
	<dict>
		<key>date</key>
		<integer>2007</integer>
		<key>title</key>
		<string>Spring Awakening</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Spring_Awakening_(musical)</string>
	</dict>
	<key>2006</key>
	<dict>
		<key>date</key>
		<integer>2006</integer>
		<key>title</key>
		<string>Jersey Boys</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Jersey_Boys</string>
	</dict>
	<key>2005</key>
	<dict>
		<key>date</key>
		<integer>2005</integer>
		<key>title</key>
		<string>Spamalot</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Spamalot</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>date</key>
		<integer>2004</integer>
		<key>title</key>
		<string>Avenue Q</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Avenue_Q</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>date</key>
		<integer>2003</integer>
		<key>title</key>
		<string>Hairspray</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hairspray_(musical)</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>date</key>
		<integer>2002</integer>
		<key>title</key>
		<string>Thoroughly Modern Millie</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Thoroughly_Modern_Millie_(musical)</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>date</key>
		<integer>2001</integer>
		<key>title</key>
		<string>The Producers</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Producers_(musical)</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>date</key>
		<integer>2000</integer>
		<key>title</key>
		<string>Contact</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Contact_(musical)</string>
	</dict>
	<key>1999</key>
	<dict>
		<key>date</key>
		<integer>1999</integer>
		<key>title</key>
		<string>Fosse</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Fosse</string>
	</dict>
	<key>1998</key>
	<dict>
		<key>date</key>
		<integer>1998</integer>
		<key>title</key>
		<string>The Lion King</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Lion_King_(musical)</string>
	</dict>
	<key>1997</key>
	<dict>
		<key>date</key>
		<integer>1997</integer>
		<key>title</key>
		<string>Titanic</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Titanic_(musical)</string>
	</dict>
	<key>1996</key>
	<dict>
		<key>date</key>
		<integer>1996</integer>
		<key>title</key>
		<string>Rent</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Rent_(musical)</string>
	</dict>
	<key>1995</key>
	<dict>
		<key>date</key>
		<integer>1995</integer>
		<key>title</key>
		<string>Sunset Boulevard</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Sunset_Boulevard_(musical)</string>
	</dict>
	<key>1994</key>
	<dict>
		<key>date</key>
		<integer>1994</integer>
		<key>title</key>
		<string>Passion</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Passion_(musical)</string>
	</dict>
	<key>1993</key>
	<dict>
		<key>date</key>
		<integer>1993</integer>
		<key>title</key>
		<string>Kiss of the Spider Woman</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Kiss_of_the_Spider_Woman_(musical)</string>
	</dict>
	<key>1992</key>
	<dict>
		<key>date</key>
		<integer>1992</integer>
		<key>title</key>
		<string>Crazy for You</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Crazy_for_You_(musical)</string>
	</dict>
	<key>1991</key>
	<dict>
		<key>date</key>
		<integer>1991</integer>
		<key>title</key>
		<string>The Will Rogers Follies</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Will_Rogers_Follies</string>
	</dict>
	<key>1990</key>
	<dict>
		<key>date</key>
		<integer>1990</integer>
		<key>title</key>
		<string>City of Angels</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/City_of_Angels_(musical)</string>
	</dict>
	<key>1989</key>
	<dict>
		<key>date</key>
		<integer>1989</integer>
		<key>title</key>
		<string>Jerome Robbins&apos; Broadway</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Jerome_Robbins%27_Broadway</string>
	</dict>
	<key>1988</key>
	<dict>
		<key>date</key>
		<integer>1988</integer>
		<key>title</key>
		<string>The Phantom of the Opera</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Phantom_of_the_Opera_(1986_musical)</string>
	</dict>
	<key>1987</key>
	<dict>
		<key>date</key>
		<integer>1987</integer>
		<key>title</key>
		<string>Les Miserables</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Les_Miserables_(musical)</string>
	</dict>
	<key>1986</key>
	<dict>
		<key>date</key>
		<integer>1986</integer>
		<key>title</key>
		<string>The Mystery of Edwin Drood</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Drood</string>
	</dict>
	<key>1985</key>
	<dict>
		<key>date</key>
		<integer>1985</integer>
		<key>title</key>
		<string>Big River</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Big_River_(musical)</string>
	</dict>
	<key>1984</key>
	<dict>
		<key>date</key>
		<integer>1984</integer>
		<key>title</key>
		<string>La Cage aux Folles</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/La_Cage_aux_Folles_(musical)</string>
	</dict>
	<key>1983</key>
	<dict>
		<key>date</key>
		<integer>1983</integer>
		<key>title</key>
		<string>Cats</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cats_(musical)</string>
	</dict>
	<key>1982</key>
	<dict>
		<key>date</key>
		<integer>1982</integer>
		<key>title</key>
		<string>Nine</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Nine_(musical)</string>
	</dict>
	<key>1981</key>
	<dict>
		<key>date</key>
		<integer>1981</integer>
		<key>title</key>
		<string>42nd Street</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/42nd_Street_(musical)</string>
	</dict>
	<key>1980</key>
	<dict>
		<key>date</key>
		<integer>1980</integer>
		<key>title</key>
		<string>Evita</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Evita_(musical)</string>
	</dict>
	<key>1979</key>
	<dict>
		<key>date</key>
		<integer>1979</integer>
		<key>title</key>
		<string>Sweeney Todd</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Sweeney_Todd:_The_Demon_Barber_of_Fleet_Street</string>
	</dict>
	<key>1978</key>
	<dict>
		<key>date</key>
		<integer>1978</integer>
		<key>title</key>
		<string>Ain&apos;t Misbehavin&apos;</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ain%27t_Misbehavin%27_(musical)</string>
	</dict>
	<key>1977</key>
	<dict>
		<key>date</key>
		<integer>1977</integer>
		<key>title</key>
		<string>Annie</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Annie_(musical)</string>
	</dict>
	<key>1976</key>
	<dict>
		<key>date</key>
		<integer>1976</integer>
		<key>title</key>
		<string>A Chorus Line</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Chorus_Line</string>
	</dict>
	<key>1975</key>
	<dict>
		<key>date</key>
		<integer>1975</integer>
		<key>title</key>
		<string>The Wiz</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Wiz</string>
	</dict>
	<key>1974</key>
	<dict>
		<key>date</key>
		<integer>1974</integer>
		<key>title</key>
		<string>Raisin</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Raisin_(musical)</string>
	</dict>
	<key>1973</key>
	<dict>
		<key>date</key>
		<integer>1973</integer>
		<key>title</key>
		<string>A Little Night Music</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Little_Night_Music</string>
	</dict>
	<key>1972</key>
	<dict>
		<key>date</key>
		<integer>1972</integer>
		<key>title</key>
		<string>Two Gentlemen of Verona</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Two_Gentlemen_of_Verona_(musical)</string>
	</dict>
	<key>1971</key>
	<dict>
		<key>date</key>
		<integer>1971</integer>
		<key>title</key>
		<string>Company</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Company_(musical)</string>
	</dict>
	<key>1970</key>
	<dict>
		<key>date</key>
		<integer>1970</integer>
		<key>title</key>
		<string>Applause</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Applause_(musical)</string>
	</dict>
	<key>1969</key>
	<dict>
		<key>date</key>
		<integer>1969</integer>
		<key>title</key>
		<string>1776</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/1776_(musical)</string>
	</dict>
	<key>1968</key>
	<dict>
		<key>date</key>
		<integer>1968</integer>
		<key>title</key>
		<string>Hallelujah, Baby!</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hallelujah,_Baby!</string>
	</dict>
	<key>1967</key>
	<dict>
		<key>date</key>
		<integer>1967</integer>
		<key>title</key>
		<string>Cabaret</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cabaret_(musical)</string>
	</dict>
	<key>1966</key>
	<dict>
		<key>date</key>
		<integer>1966</integer>
		<key>title</key>
		<string>Man of La Mancha</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Man_of_La_Mancha</string>
	</dict>
	<key>1965</key>
	<dict>
		<key>date</key>
		<integer>1965</integer>
		<key>title</key>
		<string>Fiddler on the Roof</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Fiddler_on_the_Roof</string>
	</dict>
	<key>1964</key>
	<dict>
		<key>date</key>
		<integer>1964</integer>
		<key>title</key>
		<string>Hello, Dolly!</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hello,_Dolly!_(musical)</string>
	</dict>
	<key>1963</key>
	<dict>
		<key>date</key>
		<integer>1963</integer>
		<key>title</key>
		<string>A Funny Thing Happened on the Way to the Forum</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Funny_Thing_Happened_on_the_Way_to_the_Forum</string>
	</dict>
	<key>1962</key>
	<dict>
		<key>date</key>
		<integer>1962</integer>
		<key>title</key>
		<string>How to Succeed in Business Without Really Trying</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/How_to_Succeed_in_Business_Without_Really_Trying_(musical)</string>
	</dict>
	<key>1961</key>
	<dict>
		<key>date</key>
		<integer>1961</integer>
		<key>title</key>
		<string>Bye, Bye, Birdie</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bye_Bye_Birdie_(musical)</string>
	</dict>
	<key>1960</key>
	<dict>
		<key>date</key>
		<integer>1960</integer>
		<key>title</key>
		<string>The Sound of Music</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Sound_of_Music</string>
	</dict>
	<key>1959</key>
	<dict>
		<key>date</key>
		<integer>1959</integer>
		<key>title</key>
		<string>Redhead</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Redhead_(musical)</string>
	</dict>
</dict>
</plist>
